.slice-img-container {
  width: 100%;

  figure {
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;

    .slice-img-caption {
      text-align: center;
      font-size: 30px;
    }
  }
}
@media only screen and (max-width: 800px) {
  .slice-img-container {
    figure {
      width: 100%;
      height: 380px;
      .slice-img-caption {
        text-align: center;
        font-size: 30px;
      }
    }
  }
}
