@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700;6..96,900&family=Calligraffitti&family=Gruppo&family=Heebo:wght@100;200;300;400;500&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
.section-title {
  .slice-title {
    font-family: "Aboreto";
    text-align: center;
    padding: 70px;

    h1 {
      font-size: 50px;
      font-weight: bold;
      color: rgb(54, 54, 54);
    }
  }
}
