* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  font-family: "Inter";
}
.recipe {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 50px;

  li {
    list-style: none;
    color: black;
    width: 30%;

    .recipe-img {
      background-color: salmon;
      height: 200px;
      position: relative;
    }

    .recipe-text {
      display: flex;
      flex-direction: column;
      padding: 5px;
      a {
        text-decoration: none;
        color: black;
      }

      .duration {
        font-style: italic;
      }
    }
  }
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    background-color: rgb(56, 133, 88);
    border: none;
    border-radius: 0px;
    padding: 12px 20px;
    font-family: "Inter";
    transition: all 0.5s ease;

    &:hover {
      background-color: rgba(56, 133, 88, 0.897);
    }
  }

  .disable {
    display: none;
  }
}

.home-recipes-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Inter";
    margin-bottom: 50px;
  }

  .home-recipes-search {
    .search-input {
      padding: 5px 20px;
      border: none;
    }
    .search-btn {
      border: none;
      padding: 5px 10px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .recipe {
    flex-direction: column;
    padding: 20px;

    li {
      width: 100%;
    }
  }
}
