@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Gruppo&family=Heebo:wght@100;200;300;400;500&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
.recipe {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 50px;

  li {
    list-style: none;
    color: black;
    width: 30%;

    .recipe-img {
      background-color: salmon;
      height: 200px;
      position: relative;
    }

    .recipe-text {
      display: flex;
      flex-direction: column;
      padding: 5px;
      a {
        text-decoration: none;
        color: black;
      }

      .duration {
        font-style: italic;
      }
    }
  }
}

.welcomeBanner {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 50px;
    span {
      font-weight: bold;
      color: rgb(56, 133, 88);
    }
  }

  h2 {
    font-weight: 200;
    font-size: 25px;
  }
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 6px 10px black;

  p {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
  }
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  h1 {
    font-size: 30px;
    font-style: italic;
    font-family: "Aborto";
  }
  p {
    font-weight: 100;
    font-style: italic;
  }
}

@media only screen and (max-width: 800px) {
  .recipe {
    flex-direction: column;
    padding: 20px;

    li {
      width: 100%;
    }
  }
  .welcomeBanner {
    padding: 25px;
  }
}
